*{
	-webkit-tap-highlight-color: transparent;  
}
html{
	font-size: 100px;
}
body{
	background-color: #eee;
	margin:0;
	padding: 0; 
}
img{
	width: 2.6rem;
	margin: 1.20rem auto 18px auto;
	display: block;
}
p{
	font-size: 0.20rem;
	color: #cccccc;
	margin: 0 auto;
	width: 1.20rem;
}
button{
	width: 2.8rem;
	height: 0.66rem;
	margin: 0.6rem auto 0 auto;
	display: block;
	border-radius: 7px;
	background-color: #0685cc;
	color: #FFF;
	font-size: 0.24rem;
	outline: none;
}