body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:360px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u20_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
  background:inherit;
  background-color:rgba(242, 242, 242, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u20 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:640px;
}
#u21 {
  position:absolute;
  left:2px;
  top:312px;
  width:356px;
  visibility:hidden;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u23_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u23 {
  position:absolute;
  left:0px;
  top:40px;
  width:360px;
  height:30px;
  text-align:left;
}
#u24 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  word-wrap:break-word;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u25 {
  position:absolute;
  left:332px;
  top:45px;
  width:20px;
  height:20px;
}
#u26 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
}
#u27_input {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u28 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u29_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u29 {
  position:absolute;
  left:0px;
  top:69px;
  width:360px;
  height:30px;
  text-align:left;
}
#u30 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  word-wrap:break-word;
}
#u31_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u31 {
  position:absolute;
  left:332px;
  top:74px;
  width:20px;
  height:20px;
}
#u32 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
#u33 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u34_div {
  position:absolute;
  left:0px;
  top:0px;
  width:360px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u34 {
  position:absolute;
  left:0px;
  top:98px;
  width:360px;
  height:30px;
  text-align:left;
}
#u35 {
  position:absolute;
  left:2px;
  top:4px;
  width:356px;
  word-wrap:break-word;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:21px;
}
#u36 {
  position:absolute;
  left:332px;
  top:103px;
  width:20px;
  height:20px;
}
#u37 {
  position:absolute;
  left:2px;
  top:2px;
  width:16px;
  visibility:hidden;
  word-wrap:break-word;
}
